<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr />

<section>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa porro
    obcaecati deserunt minus assumenda esse, pariatur voluptatibus praesentium
    laborum iusto error impedit. Excepturi aliquam eaque, animi deleniti
    accusamus ipsum rem. Culpa perspiciatis, rerum ipsa maiores, unde iure amet
    molestiae dicta ad non laboriosam sit repellat aliquid laudantium explicabo.
    Recusandae porro doloremque repudiandae sequi. Fugiat facilis explicabo
    labore voluptates eius? Harum? Odit magnam id magni ipsum corporis!
    Consequatur voluptatum neque repellendus a beatae autem impedit in
    consectetur quidem, expedita ipsam eum, porro optio veniam! Assumenda
    reiciendis amet, obcaecati aut cum nam. Adipisci obcaecati ex alias vel.
    Aut, deserunt placeat. Labore accusantium nulla porro earum cumque quasi?
    Praesentium autem nobis qui cum modi rem molestiae voluptatum, facere
    consequatur officiis aliquid hic ratione!
  </p>
</section>
